@{
    ViewData["Title"] = "Menu";
}

<div class="divCenter">
    <h1>Menu</h1>
</div>

<div id="divMenu">
    <button onclick="location.href='@Url.Action("GameBoard", "Game")'">One player</button>
    <button onclick="location.href = '@Url.Action("GameBoard", "Game")?mode=two'">Two players</button>
    <button onclick="location.href='@Url.Action("Exit", "Exit")'">Exit</button>
</div>