@{
    ViewData["Title"] = "Menu";
}

<div class="divCenter">
    <h1>Menu</h1>
</div>

<div id="divMenu">
    <button>One player</button>
    <button>Two players</button>
    <button>Exit</button>
</div>